:root {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-normal);
  color: var(--text-color);
  appearance: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  width: 100%;
  padding: 0rem;
  text-align: center;
}
