html {
  --font-family: "Arial", sans-serif;
  --font-weight-normal: 400;
  --line-height-normal: 1.5;
  --letter-spacing: 0.02em;
  --font-size-small: 0.9rem;
  --font-size-normal: 1em;
  --font-size-xl: 3.5rem;
  --font-size-xxl: 4.5rem;

  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 24px;
}
html.theme-vanila{
  --background-color: #EAE7dc;
  --primary-color: #E85A4F;
  --primary-color-rgb: 232, 90, 79; /* RGB от #E85A4F */
  --secondary-color: #e87f73;
  --link-color: var(--primary-color);
  --link-hover-color: var(--secondary-color);
  --text-color: #3c3b3a;
  --button-color: var(--primary-color);
  --button-hover-color: rgba(var(--primary-color-rgb), 0.9);
  --button-text-color: #fef2dd;
  --border-color: var(--secondary-color);
  --background-game-color: var(--background-color);
  --line-game-color: var(--text-color);
  --f-dot-game-color: var(--primary-color);
  --max-triangle-game-color: #a1e84fb5;
  --normal-triangle-color:  #61543c8e;
  --forbidden-triangle-game-color: #e8594fb6;
}